:root {
    --background-color-inicial: #060771;
    --color-name: #C5172E;
    --color-links: #ffffff;
    --background-color-wallpaper: #0065F8;
}

body {
    background-color: var(--background-color-wallpaper);
    margin:0px;
}

.barra-inicial {

    background-color: var(--background-color-inicial);
    width: 100%;
    height: 10opx;
    padding: 10px;
    color: var(--color-name);
    margin: none;
    display: flex;
    flex-direction: row;
  justify-content: space-between;


}

a {
    color: var(--color-links);
    margin:10px;
}

.barra-de-links {
     width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
    background-color: #1733b1;
}